<configuration>
    <!-- 로그패턴 -->
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n" />
    <!-- 로그경로 -->
    <property name="LOG_PATH" value="D:/simulation/logs/api"/>
    <!-- 일반로그 파일 명 -->
    <property name="LOG_FILE_NAME" value="application"/>
    <!-- 에러로그 파일 명 -->
    <property name="ERR_LOG_FILE_NAME" value="application-err"/>

    <!-- 콘솔 어펜더 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 롤링파일 로그 -->
    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 기본파일 명 -->
        <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- 롤링파일 에러로그 -->
    <appender name="ERR_ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 기본파일 명 -->
        <file>${LOG_PATH}/${ERR_LOG_FILE_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${ERR_LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <!-- Spring 프레임워크 로그 -->
    <logger name="org.springframework" level="ERROR" additivity="false"/>

    <!-- JPA (Hibernate) 로그 -->
    <logger name="org.hibernate" level="ERROR" additivity="false"/>
    <logger name="org.springframework.orm.jpa" level="ERROR" additivity="false"/>

    <!-- P6Spy 로그 설정 (SQL 로그 출력) -->
    <logger name="p6spy" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- 루트 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>